# LangChain
langchain==0.3.*
langserve==0.3.1

# Other
cassandra-driver==3.29.2 # For Cassandra
python-dotenv==1.0.1 # For environment variables
base32-crockford==0.3.0 # For Crockford Base32 encoding
lxml==5.3.1 # For XML parsing and flattening
tiktoken==0.9.0 # For token counting

# Custom
git+https://github.com/Lexa-B/Ayaka_Model_EmoTensor.git@v0.0.2 # For the EmoTensor model
git+https://github.com/Lexa-B/AyakaUtils.git@v0.0.6 # For the custom functions
git+https://github.com/Lexa-B/DramaticLogger.git@v0.0.2-pre4 # For the dramatic logger